.widget_travel-buddy-widget {
  border: 1px solid #eee;
  border-radius: 0 20px 20px 0;
  font-family: system-ui, sans-serif;
  background-color: rgba(251,251,251,1);
  max-width:350px
}
.travel-buddy-vr-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(350px, 1fr));
}
.travel-buddy-vr-main {
  max-width: 350px;
  background-color: #fff;
}
.widget_travel-buddy-widget .travel-buddy-vr-country .country_name {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  padding-left: 10px;
  font-weight: 600;
}
.widget_travel-buddy-widget .travel-buddy-vr-country {
  padding-top: 3px;
}
.travel-buddy-vr-text {
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  min-height: 51px;
  line-height: 28px;
}
.travel-buddy-vr-elink {
  padding: 10px;
  text-align: center;
  min-height: 74px;
  display: flex;
}
.travel-buddy-vr-except {
  font-size: 10px;
  padding: 10px;
  line-height: 15px;
}
.travel-buddy-vr-except a {
  font-weight: bold;
}
.travel-buddy-vr-info {
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.travel-buddy-vr-info span{
  font-weight: normal;
  color: #757575
}
.travel-buddy-vr-text sup {
  top: -0.7em;
  margin-left: 5px;
  font-size: 60%;
}
.travel-buddy-vr-red-bg {
  background-color: rgba(234, 67, 53, 0.85); /*#EA4335*/
  border: 1px solid rgba(234, 67, 53, 0.85);
}
.travel-buddy-vr-blue-bg {
  background-color: rgba(66,133,244,0.85); /*4285F4*/
  border: 1px solid rgba(66,133,244,0.85);
}
.travel-buddy-vr-green-bg {
  background-color: rgba(52,168,83,0.85);/*34A853*/
  border: 1px solid rgba(52,168,83,0.85);
}
.travel-buddy-vr-yellow-bg {
  background-color: rgba(251,188,5,0.9); /*FBBC05*/
  border: 1px solid rgba(251,188,5,0.9);
}
a.travel-buddy-vr-button {
  background-color: #fadc26;
  color: #320101;
  text-transform: lowercase;
  /* font-weight: bold; */
  line-height: 120%;
  border-radius: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 16px;
  border: 0;
  /* display: inline-block; */
  text-align: center;
  cursor: pointer;
  margin: auto;
  overflow: hidden;
  padding: 8px 15px 10px;
  position: relative;
  vertical-align: middle;
}

.travel-buddy-vr-text {
  display: flex;
  justify-content: space-between;
  transition: 300ms;
}
.travel-buddy-vr-text span.vtext {
  width: 100%;
}

.travel-buddy-vr-text.elink {
  cursor: pointer;
  overflow: hidden;
}
.travel-buddy-vr-text.elink span.vtext {
  width: 85%;
  margin: auto 0 auto 15%;
}
.travel-buddy-vr-text span.evisa-button {
  width: 15%;
}
.travel-buddy-vr-text span.vtext, .travel-buddy-vr-text span.evisa-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  margin: auto 0;
}
.elink.travel-buddy-vr-green-bg:hover {
  background-color:rgba(52,168,83,.65);
}
.elink.travel-buddy-vr-red-bg:hover {
  background-color:rgba(234,67,53,.65);
}
.elink.travel-buddy-vr-blue-bg:hover {
  background-color:rgba(66,133,244,.65);
}
.elink.travel-buddy-vr-yellow-bg:hover {
  background-color:rgba(251,188,5,.7);
}
.travel-buddy-vr-text .evisa-button span {
  display: none;
  font-size: 14px;
  vertical-align: middle;
  color: #000;
  transition: 300ms;
}
.travel-buddy-vr-text.elink:hover .vtext,
.travel-buddy-vr-text.elink:active .vtext {
  margin-left: -100%;
}
.travel-buddy-vr-text.elink:hover .evisa-button, 
.travel-buddy-vr-text.elink:active .evisa-button {
  width: 100%;
}
.travel-buddy-vr-text.elink:hover .evisa-button span {
  display: inline-flex;
}
.travel-buddy-vr-text .evisa-button a {
  all: unset;
  border-bottom: none;
}
.widget_travel-buddy-widget > img {
  width: 100%;
  border-radius: 0 20px 0 0;
  max-height: 80px;
}
.travel-buddy-bt, .travel-buddy-dd {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.travel-buddy-dd {
  margin: 20px 10px;
}

.travel-buddy-dd select {
  margin: 10px 0;
  height: 40px;
  border-radius: 0;
  padding-left: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  color: #000
}

.travel-buddy-bt button,
.travel-buddy-bt button:active,
.travel-buddy-bt button:focus {
  height: 40px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  background-color: #fadc26;
  color: #000;
  border: none;
  font-weight: 600;
}
.travel-buddy-bt button:hover {
  background-color: rgba(250,220,38,0.85);
  color: #333;
  border: none;
}
#travel-buddy-result {
  min-height: 230px;
  background-image: url("../images/globe-small.png");
  color: #333
}

.widget_travel-buddy-widget .travel-buddy-footer {
  text-align: center;
  border-radius: 0 0 20px 0;
  background-color: #fadc26;
  min-height: 25px;
  color: #000;
  font-size: 10px;
  padding: 5px 0;
}
.widget_travel-buddy-widget .travel-buddy-footer a{
  color: #000;
  text-decoration: underline;
}
select:focus-visible,
.travel-buddy-bt button:focus-visible {
  outline: none;
}
.widget_travel-buddy-widget .travel-buddy-dd,
.widget_travel-buddy-widget .travel-buddy-vr-info,
.widget_travel-buddy-widget .travel-buddy-vr-except {
  color: #757575
}
.travel-buddy-dis {
  display: none;
}